.projectsSection{
    background-color: gray;
}

.remoteWorkContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    position: relative;
    margin-bottom: 50px;
    text-transform: capitalize;
    letter-spacing: 5px;
    font: 300 40px/1.2 "Josefin Sans",sans-serif;
    text-align: center;
}
.btnSubmit{
    margin-bottom: 20px;
}