.skillsContainer {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;

}

.title > h1 {
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
}
.title::after{
    background-color: #888;
    content: "";
    height: 1px;
    left: 50%;
    margin-top: 120px;
    position: absolute;
    transform: translate(-50%,50%);
    width: 90px;
}

.items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    width: 100%;
    flex-wrap: wrap;
    display: grid;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1300px) {
    .items {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        width: 100%;
        flex-wrap: wrap;
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 845px) {
    .items {
        grid-template-columns: 1fr;
        width: 100%;
        flex-wrap: wrap;
        display: grid;
    }
}

.skillsSection {
    width: 100%;
    display: flex;
    align-items: center;
}