.mainSection{
    width: 100%;
    height: 100vh;
    background-color: wheat;
}
.MainContainer{
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .MainContainer{
        align-items: center;
        justify-content: center;
    }
}

.text{
    width: 300px;
    background-color: white;
}


.photo{
    width: 300px;
    background-color: white;
}