.mainSection{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.photo{
    width: 250px;
    height: 250px;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainContainer{
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .MainContainer{
        align-items: center;
        justify-content: center;
    }
}
.text h3 {
    font-size: 70px;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px #212228;
}
.text h6{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 0px;
}
.text{
    width: 60%;
}
.text p {
    color: #fff;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 30px 0;
}
.text a {
    color: white;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    line-height: 1.75em;
}

.photo{
    width: 300px;
    background-color: white;
}
.downloadCV{

    display: flex;
    justify-content: center;
}