.projectsContainer {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
}


.title > h1 {
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
}
.title::after{
    background-color: #888;
    content: "";
    height: 1px;
    left: 50%;
    margin-top: 130px;
    position: absolute;
    transform: translate(-50%,50%);
    width: 180px;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1000px) {
    .items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

.projectsSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}