.projectsContainer {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title > h1 {
    background-color: white;
}

.items {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1000px) {
    .items {
        border: 1px solid black;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

.projectsSection {
    width: 100%;
    min-height: 100vh;
    background-color: darkcyan;
    display: flex;
    align-items: center;
}