.header{
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
}
.navigation{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.navigation a {
    color: #18191d;
    font-size: 18px;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.headerContainer{
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    .headerContainer{
        align-items: center;
        justify-content: center;
    }
}