.contactsSection{
    background-color: chocolate;
}

.contactsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.contactsContainer div:first-child{
    margin-top: 20px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 540px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form input,textarea{
    width: 100%;
}

@media screen and (max-width: 626px) {
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.form input,textarea{
    margin-bottom: 20px;
}