body {
  font-family: 'Syne', sans-serif;
  color: #868a9b;
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 400;
  background: #18191d;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}